{% extends 'index.html' %}
{% load staticfiles %}

{% block modulo %}
    <ul class="nav">
        <li>
            <a href="{% url 'superware:ventas' %}">
                <i class="ti-shopping-cart-full"></i>
                <p>Ventas</p>
            </a>
        </li>
        <li>
            <a href="{% url 'superware:listarInventario' %}">
                <i class="ti-server"></i>
                <p>Inventario</p>
            </a>
        </li>
        <li>
            <a href="{% url 'superware:consultas' %}">
                <i class="ti-view-list-alt"></i>
                <p>Consultas</p>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'superware:estadisticas' %}">
                <i class="ti-stats-up"></i>
                <p>Estadisticas</p>
            </a>
        </li>
        <li class="active-pro">
            <a href="{% url 'superware:logout' %}">
                <i class="ti-shift-left"></i>
                <p>Salir</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block contenido %}
    <div class="content">
    <!-- horizontal tabs -->
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#home" data-toggle="tab">Personal</a></li>
                <li><a href="#profile" data-toggle="tab">Finanzas</a></li>
            </ul>
        </div>
    </div>
    <div id="my-tab-content" class="tab-content text-center">
    <div class="tab-pane active" id="home">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Personal laborando</h4>
                        <label>Buscar</label>
                        <div class="form-group">
                            <input type="text" value="" id="search" placeholder="Por Nombre" class="form-control" />
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                            <th>Nombre</th>
                            <th>Sucursal</th>
                            <th>Puesto</th>
                            <th>Estatus</th>
                            </thead>
                            <tbody>
                            {% for empleado in empleados %}
                                <tr>
                                    <td>{{ empleado.nombre }} {{ empleado.apellidoP }} {{ empleado.apellidoM }}</td>
                                    <td>{{ empleado.sucursal }}</td>
                                    <td>{{ empleado.puesto }}</td>
                                    <td>${{ empleado.estatus }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="profile">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ultimas compras</h4>
                        <label>Buscar</label>
                        <div class="form-group">
                            <input type="text" id="search2" placeholder="Por Folio" class="form-control" />
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                            <th>Folio de compra</th>
                            <th>Atendido por</th>
                            <th>Sucursal</th>
                            <th>Monto</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for detalle in detalles %}
                                <tr>
                                    <td>{{ detalle.pk }}</td>
                                    <td>{{ detalle.empleadoCobro }}</td>
                                    <td>{{ detalle.sucursal }}</td>
                                    <td>{{ detalle.precioFinal }}</td>
                                    <td><a class="btn btn-sm btn-info btn-icon" href="{% url 'superware:ticket' detalle.pk %}"><i class="fa ti-arrow-circle-right"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extraCode %}
    <script>
        $("#search").on("keyup", function() {
            var value = $(this).val();

            $("table tr").each(function(index) {
                if (index !== 0) {

                    $row = $(this);

                    var id = $row.find("td:first").text();

                    if (id.indexOf(value) !== 0) {
                        $row.hide();
                    }
                    else {
                        $row.show();
                    }
                }
            });
        });

        $("#search2").on("keyup", function() {
            var value = $(this).val();

            $("table tr").each(function(index) {
                if (index !== 0) {

                    $row = $(this);

                    var id = $row.find("td:first").text();

                    if (id.indexOf(value) !== 0) {
                        $row.hide();
                    }
                    else {
                        $row.show();
                    }
                }
            });
        });
    </script>
{% endblock %}

