{% extends 'index.html' %}
{% load staticfiles %}
{% load permission_tags %}

{% block modulo %}
    <ul class="nav">
        <li>
            <a href="{% url 'superware:ventas' %}">
                <i class="ti-shopping-cart-full"></i>
                <p>Ventas</p>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'superware:listarInventario' %}">
                <i class="ti-server"></i>
                <p>Inventario</p>
            </a>
        </li>
        <li>
            <a href="{% url 'superware:consultas' %}">
                <i class="ti-view-list-alt"></i>
                <p>Consultas</p>
            </a>
        </li>
        <li>
            <a href="estadisticas.html">
                <i class="ti-stats-up"></i>
                <p>Estadisticas</p>
            </a>
        </li>
        <li class="active-pro">
            <a href="{% url 'superware:logout' %}">
                <i class="ti-shift-left"></i>
                <p>Salir</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block contenido %}
    {% if mensaje %}
        <script>
            alert("Transacción hecha correctamente");
        </script>
    {% endif %}
    <div class="content">
        <div class="col-lg-3 col-sm-4">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-reload"></i>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="numbers">
                                <p><a class="btn btn-success btn-fill" href="{% url 'superware:agregarArticulo' %}">Agregar articulo</a></p>
                                <p>&ensp;</p>
                                <p><button class="btn btn-info btn-fill" onclick="displayBuscar()">Buscar articulo(s)</button></p>
                            </div>
                            <div class="buscarDiv form-group">
                                <br>
                                <label for="search">Busqueda:</label>
                                <input type="text" id="search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Articulos de bodega</h4>
                    <p class="category">lista de articulos y sus cantidades</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                        {#                        <th>ID</th>#}
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Stock minimo</th>
                        <th>Acciones</th>
                        </thead>
                        <tbody>
                        {% for articulo in articulos %}
                            <tr>
                                {#                                <td>{{ forloop.counter }}</td>#}
                                <td>{{ articulo.nombre }}</td>
                                <td><b><font color="green">${{ articulo.precio }}</font></b></td>
                                <td>{{ articulo.stock }}</td>
                                <td>10</td>
                                <td>
                                    {% if user|can:'inventarioEditarEliminar' %}
                                        <a class="btn btn-sm btn-info btn-icon" href="{% url 'superware:editarArticulo' articulo.pk %}"><i class="fa ti-pencil"></i></a>
                                        <a class="btn btn-sm btn-danger btn-icon" href="{% url 'superware:eliminarArticulo' articulo.pk %}"><i class="fa ti-close"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extraCode %}
    <script>
        $("#search").on("keyup", function() {
            var value = $(this).val();

            $("table tr").each(function(index) {
                if (index !== 0) {

                    $row = $(this);

                    var id = $row.find("td:first").text();

                    if (id.indexOf(value) !== 0) {
                        $row.hide();
                    }
                    else {
                        $row.show();
                    }
                }
            });
        });
    </script>
{% endblock %}