{% extends 'index.html' %}
{% load staticfiles %}

{% block contenido %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                {% comment %}<div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-tag"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Turno</p>
                                        TG42 C18
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> REFRESCAR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>{% endcomment %}
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-danger text-center">
                                        <i class="ti-wallet"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Articulos</p>
                                        {{ cantidad }}
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i> Hoy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-money"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Total de compra</p>
                                        {% if total %}
                                            <b id="total">{{ total }}</b>
                                        {% else %}
                                            <b id="total">0.0</b>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-timer"></i> 13:23
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-credit-card"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p><a  href="{% url 'superware:finalizarCobro' %}" class="btn btn-warning btn-fill">FINALIZAR COBRO</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-10">
                    <div class="card ">
                        <div class="image">
                            <img src="" id="imagenArticulo"  alt="..." />
                        </div>
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-1">
                                    <h5><b></b><br /><small></small></h5>
                                </div>
                                <div class="col-md-3">
                                    <h5><b id="existencia"></b><br /><small>Existencia</small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Articulos</h4>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled team-members">
                                {% for articulo in articulos %}
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar">
                                                    <img src="{{ articulo.foto.url }}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                {{ articulo.nombre }}
                                                <br />
                                                <span class="text-success"><small>${{ articulo.precio }}</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <btn class="btn btn-sm btn-danger btn-icon"><i class="fa ti-close"></i></btn>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" id="nombre"><b>Detalle de articulo marcado <br></b></h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Código de barras</label>
                                            <input id="barCode" type="text" class="form-control border-input" maxlength="12" placeholder="Código">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Precio</label>
                                            <button type="text" class="btn btn-success btn-fill btn-wd" id="precio">$0.0</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Departamento</label>
                                            <input type="text" class="form-control border-input" disabled placeholder="" id="departamento">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Categoría</label>
                                            <input type="text" class="form-control border-input" disabled id="categoria">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Observaciones</label>
                                            <textarea rows="5" class="form-control border-input" disabled id="observaciones"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                            <div class="text-center">
                                <i class="ti-shopping-cart"></i>
                                <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/latam/mx/logos-buttons/btn-credito-06.png" alt="Check out with PayPal" />
                                <div id="BotonPaypal">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="L4Z6TQX5M4RB6">
                                        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extraCode %}
    <script>
        var barcode = 0;
        $("#barCode").on('input propertychange paste', function(){
            console.log("you are in");
            barcode = $(this).val();
            if($(this).val().length > 11){
                //alert("Lo hiciste!");
                console.log($(this).val());
                $.ajax({
                    url: '{% url 'superware:agregarArticuloCarrito' %}',
                    //data: form.serialize(),
                    data: {
                        'barcode': barcode
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.error) {
                            alert(data.message);
                        }
                        else{
                            console.log("articulo es: "+ data.nombreArticulo);
                            console.log("foto: "+ data.foto);
                            $("#precio").text('$'+data.precio);
                            $("#categoria").val(data.categoria);
                            $("#departamento").val(data.departamento);
                            $("#observaciones").text(data.observaciones);
                            //$("#nombreArticulo").text(data.nombreArticulo);
                            $("#nombre").text(data.nombreArticulo);
                            $("#existencia").text(data.stock);
                            $("#imagenArticulo").attr("src", data.foto);
                        }
                    }
                });
            }
        });

        $(document).keypress(function(e) {
            if(e.which == 13) {
                $.ajax({
                    url: '{% url 'superware:addToCart' %}',
                    data: {
                        'barcode': barcode
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.error) {
                            alert(data.message);
                        }
                        else{
                            console.log("Total: "+data.total);
                            $("#total").text(data.total);
                            $.notify({
                                title: "<strong>Articulo añadido al carrito de compras</strong> ",
                                message: ""
                            });
                        }
                    }
                });

            }
        });

        {% if ticket %}
            $( document ).ready(function() {
                $('#showTicket').modal('toggle');
            });
        {% endif %}
    </script>
{% endblock %}
